* {
  text-align: center;
  font-family: Poppins;
}

header {
  margin: 30px;
  padding: 30px;
  font-size: 50px;
}

#band {
  font-size: 15px;
}

#blanks {
  font-size: 50px;
  margin: 20px;
  font-family: Anton;
  border-bottom: thick green;
}